<!DOCTYPE html>
<html lang="pt-br">

<%- include('partials/head.ejs', {title: 'ChatStats | See the metrics from your WhatsApp chats' }) %>

    <head>
        <script src="/scripts/libs/svgInject.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js"></script>
        <script src="/scripts/animateMockup.js"></script>
    </head>

    <body>
        <div class="w-full min-h-screen bg-slate-50 relative">

            <%- include('partials/header.ejs', home )%>

                <main>
                    <%- include('partials/uploadSection.ejs', home) %>

                        <div class="px-6">
                            <section id="how-to-use"
                                class="max-w-screen-xl md:mx-auto flex flex-col md:flex-row gap-16 my-32 md:my-48 relative">
                                <div class="md:flex-7 md:sticky top-32 h-min">
                                    <h2
                                        class="text-3xl font-bold leading-tight tracking-tight text-slate-800 mb-8 md:text-4xl relative inline-block z-10">
                                        <span
                                            class="relative after:absolute after:block after:w-full after:h-3 after:bg-main after:bottom-1 after:left-0 after:z-[-1]">
                                            How</span> to use
                                    </h2>

                                    <nav>
                                        <ul class="flex py-2 mb-8 border-b gap-8">
                                            <li><button
                                                    class="relative text-base block font-semibold md:text-lg z-10 after:transition-all
                                                    text-slate-600 after:absolute after:block after:w-full after:h-1 after:rounded after:bg-main after:bottom-0 after:left-0 after:z-[-1]">iOS</button>
                                            <li><button
                                                    class="relative text-base block text-slate-500 md:text-lg z-10 after:w-0 after:transition-all
                                                    after:absolute after:block  after:h-1 after:rounded after:bg-main after:bottom-0 after:left-0 after:z-[-1]">Android</button>
                                            </li>
                                        </ul>
                                    </nav>

                                    <div class="relative h-auto">
                                        <ul
                                            class="flex duration-500 delay-300 flex-col gap-8 text-sm md:text-base transition-all opacity-100 translate-y-0">
                                            <li class="flex gap-4 items-start">
                                                <span
                                                    class="flex flex-none items-center justify-center font-black text-xl md:text-3xl h-12 w-12 md:h-14 md:w-14 text-white bg-main rounded mt-1">1</span>
                                                <div>
                                                    <h3 class="text-slate-700 font-medium text-xl md:text-2xl">iOS
                                                        Settings</h3>
                                                    <p class="text-slate-500">In your smartphone, open your WhatsApp and
                                                        select the chat you want to get the metrics. It can be a private
                                                        or
                                                        group conversation.</p>
                                                </div>
                                            </li>
                                            <li class="flex gap-4 items-start">
                                                <span
                                                    class="flex flex-none items-center justify-center font-black text-xl md:text-3xl h-12 w-12 md:h-14 md:w-14 text-white bg-main rounded mt-1">2</span>
                                                <div>
                                                    <h3 class="text-slate-700 font-medium text-xl md:text-2xl">Export
                                                        and
                                                        save file</h3>
                                                    <p class="text-slate-500">On the "About" tab, click on "Export Chat"
                                                        and
                                                        save it in a folder of your choice.</p>
                                                </div>
                                            </li>
                                            <li class="flex gap-4 items-start">
                                                <span
                                                    class="flex flex-none items-center justify-center font-black text-xl md:text-3xl h-12 w-12 md:h-14 md:w-14 text-white bg-main rounded mt-1">3</span>
                                                <div>
                                                    <h3 class="text-slate-700 font-medium text-xl md:text-2xl">Upload
                                                        your
                                                        file</h3>
                                                    <p class="text-slate-500">Upload your <i>.txt</i> or <i>.zip</i>
                                                        file.
                                                        To be sure we won't have any problems getting the metrics, do
                                                        not
                                                        edit or extract your file. Just send to us and and we do our
                                                        part.
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="flex gap-4 items-start">
                                                <span
                                                    class="flex flex-none items-center justify-center font-black text-xl md:text-3xl h-12 w-12 md:h-14 md:w-14 text-white bg-main rounded mt-1">4</span>
                                                <div>
                                                    <h3 class="text-slate-700 font-medium text-xl md:text-2xl">Ready!
                                                        Now
                                                        let's see what we found</h3>
                                                    <p class="text-slate-500">After processing, you'll be able to see
                                                        chat
                                                        frequency, media count, most active members and many other
                                                        statistics.</p>
                                                </div>
                                            </li>
                                        </ul>

                                        <ul
                                            class="absolute duration-500 top-0 left-0 flex flex-col gap-8 text-sm md:text-base transition-all opacity-0 translate-y-8">
                                            <li class="flex gap-4 items-start">
                                                <span
                                                    class="flex flex-none items-center justify-center font-black text-xl md:text-3xl h-12 w-12 md:h-14 md:w-14 text-white bg-main rounded mt-1">1</span>
                                                <div>
                                                    <h3 class="text-slate-700 font-medium text-xl md:text-2xl">Android
                                                        settings</h3>
                                                    <p class="text-slate-500">In your smartphone, open your WhatsApp and
                                                        select the chat you want to get the metrics. It can be a private
                                                        or
                                                        group conversation.</p>
                                                </div>
                                            </li>
                                            <li class="flex gap-4 items-start">
                                                <span
                                                    class="flex flex-none items-center justify-center font-black text-xl md:text-3xl h-12 w-12 md:h-14 md:w-14 text-white bg-main rounded mt-1">2</span>
                                                <div>
                                                    <h3 class="text-slate-700 font-medium text-xl md:text-2xl">Export
                                                        and
                                                        save file</h3>
                                                    <p class="text-slate-500">On the "About" tab, click on "Export Chat"
                                                        and
                                                        save it in a folder of your choice.</p>
                                                </div>
                                            </li>
                                            <li class="flex gap-4 items-start">
                                                <span
                                                    class="flex flex-none items-center justify-center font-black text-xl md:text-3xl h-12 w-12 md:h-14 md:w-14 text-white bg-main rounded mt-1">3</span>
                                                <div>
                                                    <h3 class="text-slate-700 font-medium text-xl md:text-2xl">Upload
                                                        your
                                                        file</h3>
                                                    <p class="text-slate-500">Upload your <i>.txt</i> or <i>.zip</i>
                                                        file.
                                                        To be sure we won't have any problems getting the metrics, do
                                                        not
                                                        edit or extract your file. Just send to us and and we do our
                                                        part.
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="flex gap-4 items-start">
                                                <span
                                                    class="flex flex-none items-center justify-center font-black text-xl md:text-3xl h-12 w-12 md:h-14 md:w-14 text-white bg-main rounded mt-1">4</span>
                                                <div>
                                                    <h3 class="text-slate-700 font-medium text-xl md:text-2xl">Ready!
                                                        Now
                                                        let's see what we found</h3>
                                                    <p class="text-slate-500">After processing, you'll be able to see
                                                        chat
                                                        frequency, media count, most active members and many other
                                                        statistics.</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </div>

                                <img src="assets/mockup.svg" id="mockup" alt="Mockup" onload="substituteMockup(this)"
                                    class="block w-full md:flex-5 mt-8 md:mt-16 md:mx-0">
                            </section>

                            <section id="faq"
                                class="max-w-screen-xl md:mx-auto md:flex md:flex-row gap-16 my-32 md:my-48">
                                <div class="flex-1 mb-8">
                                    <h2
                                        class="text-3xl  font-bold leading-tight tracking-tight text-slate-800 mb-8 md:text-4xl relative inline-block z-10">
                                        Frequently Asked
                                        <span
                                            class="relative after:absolute after:block after:w-full after:h-3 after:bg-main after:bottom-1 after:left-0 after:z-[-1]">Questions</span>
                                    </h2>
                                    <p class="text-sm md:text-base text-slate-500">Lorem ipsum dolor sit amet
                                        consectetur adipisicing elit. Ipsa tempora facere rem adipisci <a
                                            href="https://github.com/tobiasMarion/chatStats/"
                                            class="text-main font-medium" target="_blank">GitHub</a>.</p>
                                </div>


                                <div class="md:flex-3 border-b">
                                    <details open="true" class="py-6 border-t">
                                        <summary
                                            class="cursor-pointer text-lg font-medium text-slate-800 flex justify-between items-center">
                                            My files are going to be saved?
                                            <img src="/assets/arrow-down.svg" alt="Open/Close">
                                        </summary>
                                        <p class="mt-4 text-slate-500">In your smartphone, open your WhatsApp and select
                                            the chat you want to get the metrics. It can be a private or group
                                            conversation.</p>
                                    </details>
                                    <details class="py-6 border-t">
                                        <summary
                                            class="cursor-pointer text-lg font-medium text-slate-800 flex justify-between items-center">
                                            Is ChatStats Free?
                                            <img src="/assets/arrow-down.svg" alt="Open/Close">
                                        </summary>
                                        <p class="mt-4 text-slate-500">In your smartphone, open your WhatsApp and select
                                            the chat you want to get the metrics. It can be a private or group
                                            conversation.</p>
                                    </details>
                                    <details class="py-6 border-t">
                                        <summary
                                            class="cursor-pointer text-lg font-medium text-slate-800 flex justify-between items-center">
                                            Are all file patterns suported?
                                            <img src="/assets/arrow-down.svg" alt="Open/Close">
                                        </summary>
                                        <p class="mt-4 text-slate-500">In your smartphone, open your WhatsApp and select
                                            the chat you want to get the metrics. It can be a private or group
                                            conversation.</p>
                                    </details>
                                    <details class="py-6 border-t">
                                        <summary
                                            class="cursor-pointer text-lg font-medium text-slate-800 flex justify-between items-center">
                                            How are the uploads processed?
                                            <img src="/assets/arrow-down.svg" alt="Open/Close">
                                        </summary>
                                        <p class="mt-4 text-slate-500">In your smartphone, open your WhatsApp and select
                                            the chat you want to get the metrics. It can be a private or group
                                            conversation.</p>
                                    </details>
                                </div>
                            </section>
                        </div>
                </main>

                <%- include('partials/footer.ejs') %>
        </div>
        <script src="/scripts/autoSendForm.js"></script>
        <script src="/scripts/animateHome.js"></script>

        <script data-name="BMC-Widget" data-cfasync="false"
            src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="tobiasMarion"
            data-description="Support me on Buy me a coffee!" data-color="#40DCA5" data-position="Right"
            data-x_margin="18" data-y_margin="18"></script>
    </body>

</html>