<section class="py-10 my-10 max-w-screen-lg mx-auto">
  <div id="messagesByWeekChartDiv" class="w-full h-96	bg-white shadow-lg rounded-lg border-2 border-zinc-100 overflow-hidden"><%= dateTable %></div>
</section>