<section class="my-10 max-w-screen-lg mx-auto">
  <div id="messagesByWeekChartDiv" class="w-full h-96	bg-white shadow-lg py-4 rounded-lg border-2 border-zinc-100 overflow-hidden"><%= dateTable %></div>
</section>