<footer class="w-full py-1 flex gap-1 justify-center items-center bg-main text-sm text-white">
  <p class="font-light">Made with</p>
  <img src="./assets/heart.svg" alt="love" class="h-2">
  <p class="font-light">by Tobias</p>
</footer>