<footer class="bg-slate-800">
  <main class="max-w-screen-xl mx-auto flex justify-between items-end py-16">
    <div class="mx-6 md:mx-0">
      <img src="/assets/gray-logo.svg" alt="ChatStats Logo" class="mb-8">

      <p class="text-slate-500 max-w-md">ChatMetrics helps people gain valuable insights from their WhatsApp chats. With its user-friendly interface, powerful analytics tools, and excellent customer support.</p>
    </div>

    <a href="#" class="hidden md:flex items-center justify-center w-14 h-14 bg-slate-700 rounded">
      <img src="/assets/arrow-up.svg" alt="Scroll top">
    </a>
  </main>

  <footer class="w-full py-1 flex gap-1 justify-center items-center bg-main text-sm text-white">
    <p class="font-light">Made with</p>
    <img src="./assets/heart.svg" alt="love" class="h-2">
    <p class="font-light">by Tobias</p>
  </footer>
</footer>
