<header class="w-full bg-white p-3 shadow-sm">
  <div class="max-w-screen-xl mx-auto flex items-center">
    <a href="/" class="w-fit h-12 p-1">
      <picture>
        <source media="(min-width: 768px)" srcset="./assets/full-logo.png">
        <img src="./assets/icon-logo.png" class="h-full" alt="ChatStats">
      </picture>
    </a>

    <nav class="ml-auto">
      <ul class="flex items-center gap-x-4">
        <% if (isHome) { %>
          <li><a href="#how-to" class="hidden md:block text-sm font-medium text-zinc-400 contrast">Como usar</a></li>
        <% } %>
        <li><a href="#privacy" class="hidden md:block text-sm font-medium text-zinc-400">Privacidade</a></li>
        <li><a href="/" class="bg-green-500 text-white shadow-md shadow-green-400/50 font-semibold text-sm px-3 py-2 rounded-lg">Calcular</a></li>
      </ul>
    </nav>
  </div>
</header>