<header class="w-full bg-white p-4 sticky top-0 z-50">
  <div class="max-w-screen-xl mx-auto flex items-center justify-between">
    <a href="/" class="w-fit h-12 p-1">
      <picture>
        <source media="(min-width: 768px)" srcset="./assets/full-logo.svg">
        <img src="./assets/icon.svg" class="h-full" alt="ChatStats">
      </picture>
    </a>

    <nav>
      <ul class="hidden md:flex items-center gap-x-8 text-base text-slate-500">
        <li><a class="hover:text-slate-700" href="#about">About</a></li>
        <li><a class="hover:text-slate-700" href="#how-to-use">How to use</a></li>
        <li><a class="hover:text-slate-700" href="#privacy-safety">Privacy & Safety</a></li>
        </li>
      </ul>
    </nav>

    <a href="#" class="text-white text-sm md:text-base bg-main font-semibold px-4 py-2 rounded-md drop-shadow">Count Messages</a>
  </div>
</header>