<section class="max-w-screen-lg mx-auto md:flex gap-x-8 pt-10" id="privacy">
    <div class="md:flex-auto md:w-4/6">
        <h3 class="text-xl font-semibold mb-4 tracking-tight text-green-700 md:text-2xl">Privacidade &
            Segurança</h3>
        <p class="mb-3 text-sm text-zinc-500 md:text-base">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Sollicitudin lorem donec fermentum lorem sed sit. Neque id pulvinar
            volutpat
            eu.</p>
        <p class="mb-3 text-sm text-zinc-500 md:text-base">Platea id viverra cras venenatis a pharetra
            ac
            vel convallis. Turpis sed a pulvinar tincidunt nunc etiam enim. Auctor dignissim donec
            tempor
            nunc.</p>
    </div>
    <img src="./assets/safety.svg" alt="Gráfico" class="w-1/2 mx-auto md:w-2/12 md:flex-auto">
</section>